body {
    padding: 30px;
    font-family: Verdana;
    background-image: url("./img/todo-list-bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-color: #f4f4f4;
    color: #333;
    opacity: 0.9;
}

.app {
    max-width: 600px;
    margin: 0 auto 300px;
    background-color: #efefef;
    padding: 20px 30px;
    border-radius: 10px;
    
}

h1 {
    text-align: center;
}

h3 {
    margin-bottom: 10px;
    border-bottom: 1px solid #000;
}

p {
    margin: 10px 0;
}

input {
    box-sizing: border-box;
}

button {
    background-color: #242483;
    color: #fff;
    padding: 5px 10px;
    margin-right: 5px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    opacity: 0.8;
    transition: .15s;
}

button:hover {
    opacity: 1;
}

.side-buttons {
    display: flex;
    word-wrap: break-word;

}

.todo-list {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #000;
}

.todo {
    background-color: #ffffffa8;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.15);
    padding: 10px;
    margin-bottom: 10px;
    transition: 0.1s;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo:hover {
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.5);
    background-color: #fff;
}

.complete {
    background-color: #43a127;
}

.remove {
    background-color: #d22929;
}

.todo-form {
    padding-bottom: 1.5rem;
}

input, select {
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    width: 100%;
}

.content {
    word-wrap: break-word;
    width: 80%;
    padding: auto;
}